<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/projetoPI2</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="br.com.malandro.modelo.Cliente" />
		<mapping class="br.com.malandro.modelo.Estoque" />
		<mapping class="br.com.malandro.modelo.FormaPagamento" />
		<mapping class="br.com.malandro.modelo.Movimentacao" />
		<mapping class="br.com.malandro.modelo.Produto" />
		<mapping class="br.com.malandro.modelo.Reserva" />
		<mapping class="br.com.malandro.modelo.StatusVenda" />
		<mapping class="br.com.malandro.modelo.Transacao" />
		<mapping class="br.com.malandro.modelo.Usuario" />

	</session-factory>
</hibernate-configuration>